---
import Layout from '~/layouts/layout.astro';
import { navItems } from '~/constants/nav-items';
---

<Layout path="" title="Kezdőlap" description="Kedvenc ételek - IKT Projektmunka">
  <main class="container">
    <div class="row" transition:name="title">
      <div class="col-12">
        <h1 class="text-center mt-5">Kedvenc ételek</h1>
      </div>
    </div>

    {
      navItems.map(({ name, items }) => (
        <section class="row pt-5 row-gap-3">
          <div class="col-12">
            <h2 class="mb-0">{name}:</h2>
          </div>
          {items.map(({ name, path, image, description }) => (
            <div class="col-lg-4">
              <div class="card h-100">
                <img src={image} class="card-img-top" alt={name} />
                <div class="card-body d-flex justify-content-between flex-column">
                  <div>
                    <h3 class="card-title fs-5">{name}</h3>
                    <p class="card-text">{description}</p>
                  </div>
                  <a href={path} class="btn mt-3">
                    Tovább
                  </a>
                </div>
              </div>
            </div>
          ))}
        </section>
      ))
    }
  </main>
</Layout>

<style lang="scss">
  @use '../styles/colors' as clr;
  @use '../styles/shadows' as *;

  .card {
    border: none;
    box-shadow: $shadow-sm;

    .btn {
      width: fit-content;
      color: #fff;
      background-color: clr.$primary;

      &:hover {
        background-color: clr.$secondary;
      }
    }
  }
</style>
